# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
*.log
*.sqlite3
*.env
.env.*
.Python
venv/
ENV/
env/
build/
dist/

# Django
db.sqlite3
*.pot
*.pyc
*.log
local_settings.py
media/
staticfiles/

# VS Code
.vscode/

# Docker
*.pid
Dockerfile.*
docker-compose*.yml
__docker_cache__/
*.tar
*.bak

# System
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

